/* ==UserStyle==
@name         Pop!
@description  Makes Discord UI elements 'pop out' on hover.
@author       Devin#2078
@version      0.1.0
@preprocessor default
@var number   HScale  "Hover Scale"        1.025
@var text     TTime   "Transition Time"    0.025s
@var text     EType   "Ease Type"          cubic-bezier(0, 0.75, 0, 1.75)
==/UserStyle== */
@-moz-document domain("discord.com") {
/* Imports */

@import url("https://devinkid1.github.io/Pop/base.css");

/* Settings */

:root {
  /* Hover Scale */
  
  --HoverScale: HScale;
  
  /* Transition Time */
  
  --TransitionTime: TTime;
  
  /* Ease Type */
  
  --EaseType: EType;
}
}
