@import url("https://raw.githubusercontent.com/devinkid1/Pop/main/base.css");

/* Settings */

:root {
  /* Hover Scale */
  
  --HoverScale: 1.025;
  
  /* Transition Time */
  
  --TransitionTime: 0.25s;
  
  /* Ease Type */
  
  --EaseType: cubic-bezier(0, 0.75, 0, 1.75);
}
